@mixin fontpref($size, $lineheigth, $weight) {
  font-size: $size;
  line-height: $lineheigth;
  font-family: inherit;
  font-weight: $weight
}

@mixin transit($what: all, $when: 0.25s, $how: ease) {
  -webkit-transition: $what $when $how;
  -moz-transition: $what $when $how;
  -ms-transition: $what $when $how;
  -o-transition: $what $when $how;
  transition: $what $when $how
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin container() {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

@mixin zero-style() {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}

@mixin font-size($font-size: 14px, $line-height: 20px) {
  font-size: $font-size;
  line-height: $line-height;
}

