$mobile-widths: "max-width: 767px";

$tablet-widths: "max-width: 1279px";
//--- Font-size...

$main-font-size: 1rem;

$main-line-height: 120%;

//--- Font-colors...

$main-font-color: #535353;

$second-font-color: #fafffa;

$third-font-color: #497952;

$hover-font-color: #FAFAFA;

$active-font-color: #000000;

//--- Btn-colors...

$btn-bg-hover-color: #FDDCC4;

$btn-bg-active-color: #1bc9f5;

$btn-bg: #F1CDB3;

$submit-btn-bg: #ffe13e;

//--- Main-backgrounds...

$body-bg: #ffffff;

$background-color-1: #497952;

