@import "../mixin";
@import "../variables";

.intro-wrapper {
  @include container();
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 76px;
  margin-bottom: 80px;
}

.intro__text {
  width: 51%;
  display: flex;
  flex-direction: column;
  padding-right: 80px;
  & h1 {
    @include zero-style();
    padding-top: 10px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: $main-font-color;
  }
  & p {
    @include zero-style();
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    color: $main-font-color;
  }
  & a {
    @include zero-style();
    position: relative;
    right: -23px;
    margin-top: 20px;
    font-family: inherit;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    color: $third-font-color;
    text-decoration: underline;
    align-self: flex-end;
    &:hover {
      transition: 0.2s ease-in-out;
      color: $hover-font-color;
    }
  }
}

.intro__video-container {
  padding-top: 10px;
  padding-left: 30px;
  width: 32%;
}

.intro__video-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #F9EDF0;
  border: 1px solid #497952;
  & .intro__video-content__btn {
    align-self: center;
    width: 60px;
    height: 60px;
    background-image: url("../assets/icons/play.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #497952;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
      transition: 0.2s ease-in-out;
      border-color: #f5b25f;
    }
  }
}

@media ($tablet-widths) {
  .intro-wrapper {
    flex-direction: column;
  }

  .intro__video-container {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    padding-top: 0;
    padding-left: 0;
  }

  .intro__text {
    width: 100%;
    padding-right: 0;
    & h1 {
      text-align: center;
    }
    & a {
      right: 0;
    }
  }

  .intro__video-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F9EDF0;
    border: 1px solid #497952;
  }
}


